[type=text] {
    font-size: 50px;
    height: 50px;
    width: 500px;
}

[type=submit] {
    color: rgb(92, 91, 91) !important; 
    font-size: 10.5pt;
}

[type=submit]:hover {
    border: 2px solid rgb(220, 218, 218) !important;
}

form {
    height: 300px;
    text-align: center;
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#google-img {
    transform: translate(20%, 60%);
}

.navbar-brand {
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search {
    color: black !important;
    border: 1px solid gray;
}

.advanced-form {
    all: initial;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
}

#title {
    color: rgb(201, 6, 6) !important;
    font-weight: 400 !important;
    font-size: 15pt !important;
    padding-left: 50px !important;
}

#linkback {
    font-weight: 400 !important;
    font-size: 15pt !important;
    padding-left: 50px !important;
}

.advanced { 
    right: 50% !important;
}

label {
    width: 250px;
    padding-left: 50px;
    display: inline-block;

}

.advanced-label {
    font-size: 13px;
}

input {
    width: 520px;
    text-align: left !important;
}

.blue {
    background-color: #4d90fe;
    border-color: #4d90fe;
    font-size: 13px;
    color: white !important;
    
}

#google-link {
    text-align: right;
}

.button-wrapper {
    padding-left: 400px;
    display: block;
}

#gap {
    padding-right: 10px !important;
    color: black !important;
}

.black {
    color: black;
}